!
hostname {{inventory_hostname}}
!
boot-start-marker
boot-end-marker
!
!
username {{local_username}} privilege 15 secret 5 {{local_password}}
aaa new-model
!
!# Config Omitted
!
{% for intf in Vlans %}
interface {{intf}}
{% if Vlans[intf].sw_mode is defined %}
{% if Vlans[intf].sw_mode == 'trunk' %}
 description {{Vlans[intf].desc}}
 switchport mode trunk
{% else %}
{% if Vlans[intf].pf_edge is defined %}
 description {{Vlans[intf].desc}}
 switchport mode access
 switchport access vlan {{Vlans[intf].sw_vlan}}
 switchport voice vlan {{Vlans[intf].sw_voice_vlan}}
 spanning-tree portfast
{% else %}
 description {{Vlans[intf].desc}}
 switchport mode access
 switchport access vlan {{Vlans[intf].sw_vlan}}
 switchport voice vlan {{Vlans[intf].sw_voice_vlan}}
{% endif %}
{% endif %}
{% elif Vlans[intf].ip_address is defined %}
 ip address {{Vlans[intf].ip_address}} {{Vlans[intf].subnet_mask}}
 ip helper-address {{ip_helper_address}}
 no ip redirects
 no ip proxy-arp
{% endif %}
{% endfor %}

